#fundo {
	background-image: url("Imagens/fundo.png");
	background-attachment: scroll;
	width: 900px;
}

#direitos {
	font-family: Arial, Sans-serif;	
	text-align: center;
}

#bordaimg {
	border: solid darkgrey 8px;
}

.corAbas {
	background-color: #DFE8B8;
	block-size: 75px;
}

.fonte {
	color: #5B81B2;
	font-family: Arial, Sans-serif;	
	font-weight: bold;
	font-size: 25px;
	position: relative;
	top: 20px; left: 15px;

} 

.fonteSobre {
	color: #7F8662;
	background-color: #F6FAE2;
	font-family: Arial, Sans-serif;	
	text-indent: 1em;
}

.fonteTexto { 
	color: #0C0C0B;
	
}

a {
	text-decoration: none;
}

p {
	padding: 10px;
}